/* force-reset everything! */
dialog#gib-links-extension,
dialog#gib-links-extension * {
    all: unset;
    margin: 0;
    padding: 0;
    line-height: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    color: #000000;
    background: none;
    font-weight: normal;
    box-sizing: border-box;
    user-select: none;
}


dialog#gib-links-extension::backdrop {
    background: rgba(0, 0, 0, 0.5);
}


dialog#gib-links-extension {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    padding: 1rem;
}


dialog#gib-links-extension h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: block;
    border-bottom: 0.1rem solid silver;
    padding-bottom: 0.8rem;
    margin-bottom: 1rem;
}


dialog#gib-links-extension button {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.25rem;
}


dialog#gib-links-extension button:hover {
    cursor: pointer;
    text-decoration: underline;
}


dialog#gib-links-extension input {
    display: block;
    width: 100%;
    padding: 0.3rem;
    background-color: #eeeeec;
    margin-bottom: 1rem;
}


dialog#gib-links-extension ol {
    list-style: none;
    display: block;
    width: 100%;
    height: 50vh;
    overflow: auto;
}


dialog#gib-links-extension li:first-child {
    border-top: 0.1rem dotted #eeeeec;
}


dialog#gib-links-extension li {
    display: block;
    width: 100%;
    border-bottom: 0.1rem dotted #eeeeec;
    padding: 0.25rem;
    user-select: text;
}


dialog#gib-links-extension li:hover {
    background-color: #eeeeec;
}


/* The loading spinner */
dialog#gib-links-extension li.spinner {
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid #3498db;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: gib-links-extension-spin 2s linear infinite, gib-links-extension-fade_in ease 350ms;
}

@keyframes gib-links-extension-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes gib-links-extension-fade_in {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

